#content
  - flash.each do |key, value|
    %div{:class => "alert #{flash_class(key)}"}
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      = value

  %h3= 'GoWatchIt'
  
  = form_for 'Search', method: :get, url: {action: :index}, html: {:class => 'search-form', size: 50} do |f|
    = f.text_field :query, :class => 'search-query', value: @query, name: :query
    = f.submit :search, :class => 'btn btn-primary'

  - if @movies.try(:count) { |m| m.count > 0 }
    %h5= "Found #{@movies.count} items" 

  %ul
    = render :partial => 'movie', :collection => @movies
